li.nav-item:hover{
  animation-name: lightup;
  animation-duration:1s;
}
@keyframes lightup {
    50%{background-color:  #E6D460;}
}
html{
  animation-name:colorchange;
  animation-duration:10s;
  animation-iteration-count: infinite;
}
@keyframes colorchange {
  20%{background-color:#E6D460;}
  40%{background-color:#E6B556;}
  60%{background-color:#E68A49;}
  80%{background-color:#6CDCE6;}
  90%{background-color:#E68A49;}
}
#me:active{
  animation-name: shrink;
  animation-duration: 3s;
}
@keyframes shrink{
  33%{width:75%;height:75%;}
  66%{width:50%;height:50%;}
  100%{width:20%;height:20%;}
}

@keyframes textcolorchange {
  20%{color:#E6D460;}
  40%{color:#E6B556;}
  60%{color:#E68A49;}
  80%{color:#6CDCE6;}
  90%{color:#E68A49;}
}
@keyframes grimred {
  20%{color:#00000;}
  40%{color:#FF0000;}
  60%{color:#FF6800;}
  80%{color:#FD3300;}
  90%{color:#00000;}
}
@keyframes wild {
  10%{color:#00000;}
  20%{color:#00FFFF;}
  30%{color:#FF0000;}
  40%{color:#00FF00;}
  60%{color:#0000FF;}
  80%{color:#FFFF00;}
  90%{color:#00000;}
}
