.grid-container{
  display:grid;
  column-gap:60px;
  row-gap:40px;
  grid-template-columns: auto auto auto auto;
   grid-template-row: auto auto auto auto;
   margin-left: 15%;
}
.grid-item1{
  grid-column: 1/1;
  grid-row: 1/1;
}
.grid-item2{
  grid-column: 2/2;
  grid-row: 1/1;
}
.grid-item3{
  grid-column: 3/3;
  grid-row: 1/1;
}
.grid-item4{
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-item5{
  grid-column: 2/2;
  grid-row: 2/2;
}
.grid-item6{
  grid-column: 3/3;
  grid-row: 2/2;
}
body  {
  color:#6CDCE6;
}

.gacon{
  width:50px;
  height:50px;
}
p.coordinate{
  text-align: center;
  font-size:25px;
  max-width: 500px;
  width:25%;
  margin-left: 35%;
  border-color: red;
  color:#553EE6;
}
p{
  color:#553EE6;
}
@media only screen and
(min-width: 500px) and (max-height:800px)
  {
    html{
      background-color: #222222;
    }
  body {
      background-color:#E68A49;
      flex-direction: column;
    }
  }
  @media only screen and
  (max-width: 300px) and (max-height:500px)
    {
      html{
        background-color: #E6D460;
      }
    body {
        background-color:#6CDCE6;
        flex-direction: column;
      }
    }
