@font-face {
  font-family: "swing-king";
  src: local("swing-king"),
     url("css/SwingKing.otf") format("opentype");
}
@font-face {
  font-family: "Luminari";
  src: local("Luminari"),
     url("css/Luminari-Regular.ttf") format("truetype");
}
html{
  background-color: #553EE6;

}


body{
	margin-left: 20px;
	margin-right: 25px;
	margin-top: 10px;
	font-family: "swing-king", "Monaco";

}
h1{
	font-size: 50px;
	text-align: center;
	color: #E6B556;

}
.tiny{
  max-width: 300px;
  width: 300px;
}
p
{
  text-align:left;
	border-style: ridge;
	border-radius: 5px;
	border-color: #E6B556;
  background-color: #6CDCE6
	padding-left: 10px;
	color: #E6D460;
	font-size:20px;
}						//font face
a.return {
	font-weight: bold;
}
						//lists css here
ul{
  margin: 10px;
  padding-left: 10px;
  font-family: "swing-king";
  font-size: 15px;
  color:#6DCCE6;
  background-color: :#553EE6;
}
li{
  background-color: :#553EE6;
	color: #6CDCE6;
  list-style-image: url(images/1x/listmarker.png);
    font-family: "Luminari";
}

img						//need more image
{
	float: right;
	border-radius: 10px;

}


a.assignmentlink{
	font-style: italic;
}
a:link					//links
{
	color: blue;
}
a:visited
{
	color: red;
}

a:hover
{
	color: orange;
}

a:active
{
	color:yellow;
}
