
#grad {
  background-image: linear-gradient(to right, #6CDCE6 , #553EE6);
}

body{
	margin-left: 20px;
	margin-right: 25px;
	margin-top: 10px;
	font-family: "Verdana", "Monaco";

}
h1{
	font-size: 50px;
	text-align: center;
	color: #E6B556;

}
p
{

	border-style: ridge;
	border-radius: 5px;
	border-color: #E6B556;
	padding-left: 10px;


	color: brown;
	font-size:30px;
}						//font face

a.return {
	font-weight: bold;
}
						//lists css here
ul {
	background:#553EE6;
	color: #E68A49;
}
li{
	color: black;
}

img						//need more image
{
	float: right;
	border-radius: 10px;

}


a.assignmentlink{
	font-style: italic;
}
a:link					//links
{
	color: blue;
}
a:visited
{
	color: red;
}

a:hover
{
	color: orange;
}

a:active
{
	color:yellow;
}
